/* Add your styles here or import a separate stylesheet */

h2 {
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  #url {
    padding: 8px;
    width: 100%;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #result {
    margin-top: 16px;
    font-weight: bold;
    color: #333;
  }
  